@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {
    html {zoom:0.8;}
}
body {
    margin: 5% auto;
    width: 30%;
    font-size:16px;line-height:1.5em;font-weight:100;
    -webkit-text-size-adjust:100%
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #6842f4;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    
    }

h1.blocktext {
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

p {
    font-size: 16px;
    line-height: 1.4em;
    color: #333;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img{width:20%;
    height:20%;
    border-radius: 10%;
    float: right;
}
