/* ==========================================================================
   Custom overrides
   ========================================================================== */

/* Body */
body {
  line-height: 1.8;
}

/* Masthead */
.masthead {
  border-bottom: 1px solid #eee;
}

.greedy-nav a {
  font-weight: 700;
}

/* Buttons */
.btn {
  border-radius: 4px;
  font-weight: 700;
}

/* Layout */
.page {
  padding: 2em 0;
}
